<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style_index.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="/img/pokebola.png" alt="pokebola" /></li>
        <li>
          <a href="/"><h1>Pokédex</h1></a>
        </li>
        <li><a href="/cadastrar">Cadastrar</a></li>
        <li><a href="#cards">Pokémons</a></li>
      </ul>
    </nav>

    <% if (message != "") { %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% } %>

    <header>
      <img src="/img/banner.png" alt="banner" />
    </header>

    <main>
      <section id="cards">

        <h2>Lista de Pokémons</h2>

        <% pokedex.forEach((pokemon) => { %>
        <div class="card">
          <h3><%= pokemon.nome%></h3>
          <img src="<%= pokemon.imagem %>" alt="imagem do pokemon" />
          <p class="id">Id: <span id="id"><%= pokemon.id%></span></p>
          <p class="tipo">Tipo: <span id="tipo"><%= pokemon.tipo%></span></p>
          <a id="detalhes" href="/detalhes/<%= pokemon.id %>">Detalhes</a>
          <a id="editar" href="/atualizar/<%= pokemon.id %>">Editar</a>
          <a id="apagar" href="/delete/<%= pokemon.id %>">Apagar</a>
        </div>
        <% }) %>
      </section>

    </main>

    <footer>
      <p>Ana Beatriz &copy; - Todos os direitos reservados</p>
      <p>
        Dados retirados de
        <a target="_blank" href="https://www.pokemon.com/br/pokedex/"
          >Pokédex</a
        >
      </p>
    </footer>

    <script src="/js/script_index.js"></script>

  </body>
</html>
